<div class="row">
  <div class="col-xs-8 col-xs-offset-3">
    <div class="sign_up">
      <h4><mark>新規問題解決</mark></h4>
    </div>

      <%= form_for @problem_solution, url: new_user_problem_solution_path do |f| %>
      
      <table border="0">
        <tr style="height:70px">
          <th style="width:300px">達成できたことは何ですか？</th>
          <td>
            <% f.label :worked %>
            <%= f.text_area :worked, autofocus: true, autocomplete: "worked", class: "form-control" %>
          </td>
        </tr>

        <tr style="height:70px">
          <th>達成できなかった事は何ですか？</th>
          <td>
            <% f.label :not_worked %>
            <%= f.text_area :not_worked, autofocus: true, autocomplete: "not_worked", class: "form-control" %>
          </td>
        </tr>

        <tr style="height:70px">
          <th>できなかった原因をあげてみてください</th>
          <td style="width:300px">
            <% f.label :cause %>
            <%= f.text_area :cause, autofocus: true, autocomplete: "cause", class: "form-control" %>
          </td>
        </tr>

        <tr style="height:70px">
          <th>どのようにすれば解決できましたか？</th>
          <td>
            <% f.label :solution %>
            <%= f.text_area :solution, autofocus: true, autocomplete: "solution", class: "form-control" %>
          </td>
        </tr>

        <tr style="height:70px">
          <th>同じ失敗をしないようにどうしますか？</th>
          <td>
            <% f.label :improvement_point %>
            <%= f.text_area :improvement_point, autofocus: true, autocomplete: "improvement_point", class: "form-control" %>
          </td>
        </tr>

      </table>

      <div class="actions">
        <%= f.submit "登録", class:"btn btn-success center-block", style:"width:150px" %>
      </div>
      
      <% end %>
      
    </div>
  </div>