<div class="m-index">
  <h4><mark>発注者</mark></h4>
</div>

<% if @orders.empty? %>
  <p>現在やりとりしている発注者はありません</p>
<% else %>
  <table class="table table-bordered">
    <tr>
      <th>相手</th>
      <th>内容</th>
      <th>詳細</th>
    </tr>
    <% @orders.each do |order| %>
    	<tr>
    	  <td><%= order.requester.name %></td>
    	  <td><%= order.request_content %></td>
        <td><%=  link_to "詳細", user_order_path(user_id: current_user.id,id: order.id), class:"btn btn-success" %></td>
    	</tr>
    <% end %>
  </table>
<% end %>

<div class="m-index">
  <h4><mark>求人企業</mark></h4>
</div>

<% if @offer_applications.empty? %>
  <p>現在やりとりしている求人企業はありません</p>
<% else %>
  <table class="table table-bordered">
    <tr>
      <th>相手</th>
      <th>内容</th>
      <th>詳細</th>
    </tr>
    <% @offer_applications.each do |offer_application| %>
      <tr>
        <td><%= offer_application.company.name %></td>
        <td><%= offer_application.offer.name %></td>
        <td><%= link_to "詳細", user_show_offers_path(user_id: current_user.id,company_id: offer_application.company.id, id: offer_application.offer.id), class:"btn btn-success"%></td>
      </tr>
    <% end %>
  </table>
<% end %>