<div class="row">
  <div class="col-xs-8 col-xs-offset-4">

    <div class="sign_up">
      <h4><mark>お知らせ新規追加</mark></h4>
    </div>      

    <%= form_for @, url: _path do |f| %>
      <%= render "layouts/error_message", title: @ %>
      
      <table border="0">
      	<tr style="height:70px">
          <th>カテゴリ名</th>
          <td>
            <% f.label : %>
            <%= f.text_field :, autofocus: true, autocomplete: "", class: "form-control" %>
          </td>
        </tr>

        <tr style="height:70px">
          <th>お知らせ内容</th>
          <td>
            <% f.label : %>
            <%= f.text_field :, autofocus: true, autocomplete: "", class: "form-control" %>
          </td>
        </tr>
      </table>

      <div class="actions">
        <%= f.submit "新規登録", class:"btn btn-success center-block btn-lg", style:"width:250px" %>
      </div>
      
    <% end %>
      
  </div>
</div>