<div class="row">
  <div class="col-xs-8 col-xs-offset-4">

    <div class="sign_up">
      <h4><mark>学習記録投稿</mark></h4>
    </div>      

    <%= form_for @scholastic_record, url: new_user_scholastic_record_path do |f| %>
      <%= render "layouts/error_message", title: @scholastic_record %>
      <%= f.hidden_field :created_date, :value => Date.today %>
      
      <table border="0">
        <tr style="height:70px">
          <th style="width:150px">カテゴリ</th>
          <td>
            <% f.label :category_id %>
            <%= f.collection_select :category_id, Category.all, :id, :name, prompt: "カテゴリを選択してください", autofocus: true, autocomplete: "category_id", class: "form-control" %>
          </td>
        </tr>

        <tr style="height:70px">
          <th>学習内容</th>
          <td>
            <% f.label :learning_content %>
            <%= f.collection_select :learning_content, Task.where(user_id: current_user.id, progress_status: true), :name, :name,:prompt => "タスクを選択してください" %><br>
            <%= link_to "タスクを新規登録する", user_tasks_path(current_user.id) %>
          </td>
        </tr>

        <tr style="height:70px">
          <th>学習コメント</th>
          <td>
            <% f.label :learning_detail %>
            <%= f.text_area :learning_detail, autofocus: true, autocomplete: "learning_detail", class: "form-control" %>
          </td>
        </tr>

        <tr style="height:70px">
          <th>学習時間</th>
          <td class="time">
            <% f.label :learning_time %>
            <%= f.select :learning_time,[*0..23], {}, { autocomplete: "learning_time", class: 'form-control', style:"width:60px"} %><p>時間</p>
            <% f.label :learning_time_min %>
            <%= f.select :learning_time_min,[*0..59], {}, { autocomplete: "learning_time_min", class: 'form-control', style:"width:60px"} %><p>分</p>
          </td>
        </tr>
      </table>

      <div class="actions">
        <%= f.submit "新規登録", class:"btn btn-success center-block btn-lg", style:"width:250px" %>
      </div>
      
    <% end %>
      
  </div>
</div>