<div class="c-index">
  <h4><mark>登録企業一覧</mark></h4>
</div>

      <table class="table table-bordered">
    	<tr>
    	  <th>登録日</th>
    	  <th>登録企業</th>
    	  <th>メール</th>
          <th>電話番号</th>
          <th>住所</th>
          <th>アカウント停止</th>
    	</tr>
        <% @companies.each do |company| %>
    	  <tr>
    		<td><%= company.created_at.strftime('%Y/%m/%d') %></td>
    		<td><%= company.name %></td>
    		<td><%= company.email %></td>
    		<td><%= company.phone_number %></td>
            <td><%= "#{company.postal_code} #{company.address}" %></td>
              <% if company.is_active == true %>
                <td><%= link_to "アカウント停止", admins_delete_company_path(id: company.id), method: :patch, data: { confirm: '本当に停止にしますか？' }, class: "btn btn-danger" %></td>
              <% else %>
                <td>アカウント停止中</td>
              <% end %>
    	  </tr>
        <% end %>
      </table>