<div class="container">

<div class="row">
  <div class="sidebar__item--fixed">
  <div class="col-xs-2 col-xs-offset-1">

    <%# カテゴリボックス　%>
    <div class="category">
      <% @categories.each do |category| %>
      <li><%= link_to category.name, "#" %></li>
      <% end %>
    </div>

  </div>
</div>
  <div class="col-xs-8">
  	<%# タイムライン %>
    <span id="scholastic_records">
  	    <div class="scholastic_record">
            <% @scholastic_records.each do |scholastic_record| %>
            <div class="user">
              <%= attachment_image_tag scholastic_record.user, :image, :fill, 350, 250, format: "jpg", fallback: "no-image.jpg", size:'40x40' %><br>
              <%= link_to user_path(scholastic_record.user.id) do %>
                <i class="fa fa-map-marker"></i><%= scholastic_record.user.user_name %>
              <% end %>
            </div>
            <div class="record">
                <%= link_to user_scholastic_record_path(user_id: scholastic_record.user.id,id: scholastic_record.id) do %>
                  <div class="list">
                    <p>学習内容<br>
                    <%= scholastic_record.learning_content %></p>
                    <p id="detail">学習詳細<br>
                    <%= scholastic_record.learning_detail %></p>
                    <p>学習時間<br>
                    <%= scholastic_record.learning_time %>時間
                    <%= scholastic_record.learning_time_min %>分</p>
                  </div>
                <% end %>
              </div>
            <% end %>
        </div>
        </span>
        <div class="paginate-tag">
          <%= paginate @scholastic_records %>
        </div>
</div>
</div>

</div>
