<div class="row">
  <div class="col-xs-8 col-xs-offset-4">

    <div class="edit-title">
      <h4><mark>タスク編集</mark></h4>
    </div>

    <%= form_for @task, url: edit_user_task_path do |f| %>
    <%= render "layouts/error_message", title: @task %>

        <table border="0", class="edit-tasks">
          <tr>
            <th class="form">タスク名</th>
            <td><%= f.text_field :name, autocomplete: "name", class: "form-control" %></td>
          </tr>

          <tr>
            <th class="form">期日</th>
            <td><%= f.date_select :deadline, autocomplete: "deadline", class: "form-control" %></td>
          </tr>
        </table>

        <div class="button">
          <%= f.submit("編集する",class: 'btn btn-success', style: 'width: 250px') %>
        </div>

        <% end %>

  </div>
</div>