<div class="row">
  <div class="col-xs-10 col-xs-offset-1">

    <%= form_for @newtask, url: user_tasks_path do |f| %>
    <div class="field row">
        <%= f.label :name %>
        <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "form-control" %>
    </div>

    <div class="field row">
        <%= f.label :deadline %>
        <%= f.date_select :deadline, autofocus: true, autocomplete: "deadline", class: "form-control" %>
    </div>

    <div class="actions row">
        <%= f.submit class: "btn btn-primary col-xs-12" %>
    </div>
<% end %>

<table class="table table-bordered">
    	<tr>
    		<th>タスク名</th>
    		<th>タスク期日</th>
    		<th>編集、削除</th>
            <th>完了</th>
    	</tr>
        <% @tasks.each do |task| %>
        <% if task.progress_status? %> <%# 未完了タスクのみを表示 %>
    	<tr>
    		<td><%= task.name %></td>
    		<td><%= task.deadline %></td>
    		<td>
                <%=link_to "編集", edit_user_task_path(user_id: params[:user_id],id: task.id),class: "btn btn-primary", style:"margin-right:30px" %>
                <%= link_to "削除", user_task_path(user_id: params[:user_id],id: task.id), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-danger" %>
            </td>
            <td><%= link_to "完了", user_complete_task_path(user_id: params[:user_id],id: task.id), method: :patch,class: "btn btn-success" %></td>
    	</tr>
        <% end %>
        <% end %>
    </table>
</div>
</div>