<div class="row">
  <div class="col-xs-8 col-xs-offset-4">
    <div class="sign_up">
      <h4><mark>目標編集</mark></h4>
    </div>

    <%= form_for @setting_goal, url: edit_user_setting_goal_path do |f| %>
      
      <table border="0">
        <tr style="height:70px">
          <th class="form">目標</th>
          <td>
            <% f.label :target %>
            <%= f.text_field :target, autofocus: true, autocomplete: "target", class: "form-control" %>
          </td>
        </tr>

        <tr style="height:70px">
          <th>目標達成のための懸念点</th>
          <td>
            <% f.label :concern %>
            <%= f.text_area :concern, autofocus: true, autocomplete: "concern", class: "form-control" %>
          </td>
        </tr>

        <tr style="height:70px">
          <th>コミットメント</th>
          <td>
            <% f.label :commitment %>
            <%= f.text_area :commitment, autofocus: true, autocomplete: "commitment", class: "form-control" %>
          </td>
        </tr>
      </table>

      <div class="actions">
        <%= f.submit "編集", class:"btn btn-success center-block", style:"width:250px" %>
      </div>
      
    <% end %>
      
  </div>
</div>