

  <div class="row">
    <div class="col-xs-2"></div>
    <div class="col-xs-8">
      <div class="sign_up">
        <mark>新規会員登録</mark>
      </div>

      

      <table border="0">
        <tr style="height:70px">
            <th class="form">名前</th>
            <td>
              <%= current_user.last_name %>
              <%= current_user.first_name %>
            </td>
        </tr>

        <tr style="height:70px">
            <th>学年</th>
            <td><%= current_user.grade %></td>
        </tr>

        <tr style="height:70px">
            <th>スキル</th>
            <td><%= @strengths.skill %></td>
        </tr>

        <tr style="height:70px">
            <th>希望</th>
            <td><%= @strengths.expection %></td>
        </tr>

        <tr style="height:70px">
            <th>アピールポイント</th>
            <td><%= @strengths.appeal_point %></td>
        </tr>

        <tr style="height:70px">
            <th>ポートフォリオ</th>
            <td><%= @strengths.portfolio %></td>
        </tr>

      </table>

      <%=link_to "編集", edit_user_strength_path(user_id: params[:user_id],id: params[:id]),class: "btn btn-primary", style:"margin-right:30px" %>
      <%= link_to "非公開にする", user_strengths_path, method: :patch, class: 'btn btn-danger' %>
      

      
    </div>
  </div>