

  <div class="row">
    <div class="col-xs-2"></div>
    <div class="col-xs-8">
      <div class="sign_up">
        <mark>新規会員登録</mark>
      </div>

      <p>公開状態</p>
      <% if @strengths.is_active == true %>
      <p>公開</p>
      <% else %>
      <p>非公開</p>
      <% end %>

      <table border="0">
        <tr style="height:70px">
            <th class="form">名前</th>
            <td>
              <%= current_user.last_name %>
              <%= current_user.first_name %>
            </td>
        </tr>

        <tr style="height:70px">
            <th>学年</th>
            <td><%= current_user.grade %></td>
        </tr>

        <tr style="height:70px">
            <th>スキル</th>
            <td><%= @strengths.skill %></td>
        </tr>

        <tr style="height:70px">
            <th>希望</th>
            <td><%= @strengths.expection %></td>
        </tr>

        <tr style="height:70px">
            <th>アピールポイント</th>
            <td><%= @strengths.appeal_point %></td>
        </tr>

        <tr style="height:70px">
            <th>ポートフォリオ</th>
            <td><%= @strengths.portfolio %></td>
        </tr>

      </table>

      <%=link_to "編集", edit_user_strength_path(user_id: params[:user_id],id: 1),class: "btn btn-primary", style:"margin-right:30px" %>
      <% if @strengths.is_active == true %>
      <%= link_to "非公開にする", user_destroy_strengths_path(user_id: params[:user_id],id: 1), method: :patch, class: 'btn btn-danger' %>
      <% else %>
      <%= link_to "公開する", user_release_strengths_path(user_id: params[:user_id],id: 1), method: :patch, class: 'btn btn-success' %>
      <% end %>

      
    </div>
  </div>