<div class="edit-title">
  <mark style="font-size: 20px;">登録情報</mark>
</div>

  <div class="row">
    <div class="col-xs-5">
      <div class="image-box">
        
      </div>
    </div>
    <div class="col-xs-5">
  	  <%= form_for @user do |f| %>
  	  <table class="margin-30">
        <tr style="height:70px">
            <th class="form">名前</th>
            <td>（姓）</td>
            <td>
              <% f.label :last_name %>
              <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name", class: "form-control" %>
            </td>
            <td>（名）</td>
            <td>
              <% f.label :first_name %>
              <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", class: "form-control" %>
            </td>
        </tr>

        <tr style="height:70px">
            <th>ユーザーネーム</th>
            <td></td>
            <td>
              <% f.label :user_name %>
              <%= f.text_field :user_name, autofocus: true, autocomplete: "user_name", class: "form-control" %>
            </td>
        </tr>

        <tr style="height:70px">
            <th>学年</th>
            <td></td>
            <td>
              <% f.label :grade %>
              <%= f.text_field :grade, autofocus: true, autocomplete: "grade", class: "form-control" %>
            </td>
        </tr>

        <tr style="height:70px">
            <th>その他</th>
            <td></td>
            <td>
              <% f.label :other_grade %>
              <%= f.text_field :other_grade, autofocus: true, autocomplete: "other_grade", class: "form-control" %>
            </td>
        </tr>

        <tr style="height:70px">
            <th>メールアドレス</th>
            <td></td>
            <td>
              <% f.label :email %>
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
            </td>
        </tr>

        <tr style="height:70px">
            <th>電話番号(ハイフンなし)</th>
            <td></td>
            <td>
              <% f.label :phone_number %>
              <%= f.text_field :phone_number, autofocus: true, autocomplete: "phone_number", class: "form-control" %>
            </td>
        </tr> 

      </table>
        <div class="button-box margin-30">
          <%= f.submit '編集内容を保存する',class: 'btn btn-primary', style:"margin-right:130px" %>

          <%= link_to "退会する", "/users/#{current_user.id}/delete", class: 'btn btn-danger'%>

        </div>
        <%= link_to "戻る", :back %>
    <% end %>
  </div>
</div>  