<div class="row">
  <div class="col-xs-2 col-xs-offset-1">
  	<%# プロフィールボックス　%>
    <div class="prof">
      <div class="image-box">
        <%= attachment_image_tag @user, :image, :fill, 350, 250, format: "jpg", fallback: "no-image.jpg", size:'80x80' %>
      </div>
      <div>
        <li class="title">ユーザーネーム</li>
      	<li><%= @user.user_name %></li>
      	<li class="title">総学習時間</li>
      	<li></li>
      </div>

      <%= link_to "登録情報編集", edit_user_path, class: 'btn btn-primary'%>
    </div>
    <%# リンクボックス　%>
    <div class="link">
      <li><%= link_to "問題解決記録", user_problem_solutions_path(user_id: params[:id]) %></li>
      <li><%= link_to "タスク管理", user_tasks_path(user_id: params[:id]) %></li>
      <li><%= link_to "日々の振り返り", user_reviews_path(user_id: params[:id]) %></li>
      <li><%= link_to "目標設定", "#" %></li>
      <li><%= link_to "目標編集", "#" %></li>
      <li><%= link_to "自己PRを作るを作る", "#" %></li>
      <li><a href="#" class="">募集企業を探す</a></li>
      <li><a href="#" class="">オファーを確認する</a></li>
    </div>
  </div>
  <div class="col-xs-8">
  	<%# 見出しボックス %>
  	<table border="0">
  	  <tr>
  	    <th>目標</th>
        <th>今日のテーマ</th>
      </tr>
      <tr>
  	    <td></td>
  	    <td></td>
      </tr>
    </table>
    <%# タスクボックス　%>
    <div class="task">
    </div>
    <%# グラフボックス%>
    <div class="graph">
    </div>
  </div>
</div>
