<div class="row">
  <div class="col-xs-2 col-xs-offset-1">
  	<%# プロフィールボックス　%>
    <div class="prof">
      <div class="image-box">
        <%= attachment_image_tag @user, :image, :fill, 350, 250, format: "jpg", fallback: "no-image.jpg", size:'80x80' %>
      </div>
      <div>
        <li class="title">ユーザーネーム</li>
      	<li><%= @user.user_name %></li>
      	<li class="title">総学習時間</li>
      	<li></li>
      </div>

      <%= link_to "登録情報編集", edit_user_path(params[:id]), class: 'btn btn-primary'%>
    </div>
    <%# リンクボックス　%>
    <div class="link">
      <li><%= link_to "問題解決記録", user_problem_solutions_path(user_id: params[:id]) %></li>
      <li><%= link_to "タスク管理", user_tasks_path(user_id: params[:id]) %></li>
      <li><%= link_to "日々の振り返り", user_reviews_path(user_id: params[:id]) %></li>
      <li>
        <% if current_user.setting_goals.none? %>
        <%= link_to "目標新規登録", new_user_setting_goal_path(user_id: params[:id]) %>
        <% else %>
        <%= link_to "目標確認", user_setting_goals_show_path(user_id: params[:id]) %>
        <% end %>
      </li>
      <li>
        <% if current_user.strengths.none? %>
        <%= link_to "自己PRを作成する", new_user_strength_path(user_id: params[:id]) %>
        <% else %>
        <%= link_to "自己PRを確認する", user_strengths_show_path(user_id: params[:id]) %>
        <% end %>
      </li>
      <li><a href="#" class="">募集企業を探す</a></li>
      <li><%= link_to "オファーを確認する", user_orders_path(user_id: current_user.id) %></li>
    </div>
  </div>
  <div class="col-xs-8">
  	<%# 見出しボックス %>
  	<table border="0">
  	  <tr>
  	    <th>目標</th>
        <th>今日のテーマ</th>
      </tr>
      <tr>
  	    <td></td>
  	    <td></td>
      </tr>
    </table>
    <%# タスクボックス　%>
    <div class="task">
      <p>今日までのタスク</p>
      <% @tasks.each do |task| %>
      <% if task.progress_status? %> <%# 未完了タスクのみを表示 %>
      <li><%= task.name %></li>
      <% end %>
      <% end %>
    </div>
    <%# グラフボックス%>
    <div class="graph">
    </div>
    <div class="dot-graph">
    </div>
  </div>
  <span id="back">
    <%= link_to image_tag("scholastic-record.png", size:'100x100'), new_user_scholastic_record_path(user_id: params[:id]) %>
    </span>
</div>
