<div class="row">

  <div class="col-xs-2 col-xs-offset-1">
    <%# プロフィール欄　%>
    <div class="prof">
      <div class="image-box">
        <%= attachment_image_tag @user, :image, :fill, 350, 250, format: "jpg", fallback: "no-image.jpg", size:'80x80' %>
      </div>
      <div>
        <li class="title">ユーザーネーム</li>
      	<li><%= @user.user_name %></li>
      	<li class="title">総学習時間</li>
      	<li><%=  %>時間</li>
      </div>
      <%= link_to "登録情報編集", edit_user_path(params[:id]), class: 'btn btn-success'%>
    </div>

    <%# リンクボックス　%>
    <div class="link-box">
      <li><%= link_to "問題解決記録", user_problem_solutions_path(user_id: params[:id]) %></li>
      <li><%= link_to "タスク管理", user_tasks_path(user_id: params[:id]) %></li>
      <li><%= link_to "日々の振り返り", user_reviews_path(user_id: params[:id]) %></li>
      <li>
        <% if current_user.setting_goals.none? %>
          <%= link_to "目標新規登録", new_user_setting_goal_path(user_id: params[:id]) %>
        <% else %>
          <%= link_to "目標確認", user_setting_goals_show_path(user_id: params[:id]) %>
        <% end %>
      </li>
      <li>
        <% if current_user.strengths.none? %>
          <%= link_to "自己PRを作成する", new_user_strength_path(user_id: params[:id]) %>
        <% else %>
          <%= link_to "自己PRを確認する", user_strengths_show_path(user_id: params[:id]) %>
        <% end %>
      </li>
      <li><%= link_to "募集企業を探す", user_offers_path(user_id: current_user.id) %></li>
      <li><%= link_to "オファーを確認する", user_orders_path(user_id: current_user.id) %></li>
    </div>
  </div>

  <div class="col-xs-8">
  	<%# 今日のテーマ、目標 %>
  	<table border="0", class="top">
  	  <tr>
  	    <th class="col-xs-6">目標</th>
        <th class="col-xs-6">今日のテーマ</th>
      </tr>
      <tr>
        <% if current_user.setting_goals.target.empty? %>
          <td>登録がありません</td>
        <% else %>
  	      <td><%= current_user.setting_goals.target %></td>
        <% end %>
  	    <td><%=  %></td>
      </tr>
    </table>

    <%# タスクボックス　%>
    <div class="task">
      <p>今日までのタスク</p>
      <% @tasks.each do |task| %>
        <% if task.progress_status? %> <%# 未完了タスクのみを表示 %>
          <li><%= task.name %></li>
        <% end %>
      <% end %>
    </div>

    <%# グラフボックス%>
      <div class="graph">
        <%= column_chart @scholastic_record_data %>
      </div>

　
  <h1>学習記録</h1>
  <canvas id="myBarChart"></canvas>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>

  <script>
    function getDate(day) {
    var date = new Date();
    date.setDate(date.getDate() - day);
    var year  = date.getFullYear();
    var month = date.getMonth() + 1;
    var day   = date.getDate();
    return String(year) + "-" + String(month) + "-" + String(day);
    }
    var ctx = document.getElementById("myBarChart");
    var stackedBar = new Chart(ctx, {
    type: 'bar',
    data: {
      labels: [getDate(6), getDate(5), getDate(4), getDate(3), getDate(2), getDate(1), getDate(0)],
      datasets: [
        {
          label: 'A店 来客数',
          data: [62, 65, 93, 85, 51, 66, 47],
          backgroundColor: "rgba(219,39,91,0.5)"
        },{
          label: gon.lavel,
          data: [55, 45, 73, 75, 41, 45, 58],
          backgroundColor: "rgba(130,201,169,0.5)"
        },{
          label: gon.lavel,
          data: gon.data,
          backgroundColor: "rgba(255,183,76,0.5)"
        }
      ]
    },
    options: {
        scales: {
            xAxes: [{
                stacked: true
            }],
            yAxes: [{
                stacked: true
            }]
        }
    }
});
  </script>

  </div>

  <span id="back">
    <%= link_to new_user_scholastic_record_path(user_id: params[:id]) do %>
      <i class="fas fa-edit my-record"></i>
    <% end %>
  </span>

</div>
