<div class="row">

  <div class="col-xs-2 col-xs-offset-1">
    <%# プロフィール欄　%>
    <div class="prof">
      <div class="image-box">
        <%= attachment_image_tag @user, :image, :fill, 100, 100, format: "jpg", fallback: "no-image.jpg", size:'100x100' %>
      </div>
      <div>
        <li class="title">ユーザーネーム</li>
      	<li><%= @user.user_name %></li>
      	<li class="title">総学習時間</li>
      	<li><%= @total_h_time %>時間<%= @total_m_time %>分</li>
      </div>
      <% if @user == current_user %>
        <%= link_to "登録情報編集", edit_user_path(params[:id]), class: 'btn btn-success'%>
      <% end %>
    </div>

    <%# リンクボックス　%>
    <div class="link-box">
      <% if @user == current_user %>
        <li><%= link_to "問題解決記録", user_problem_solutions_path(user_id: params[:id]) %></li>
        <li><%= link_to "タスク管理", user_tasks_path(user_id: params[:id]) %></li>
        <li><%= link_to "日々の振り返り", user_reviews_path(user_id: params[:id]) %></li>
        <li>
          <% if @user.setting_goals.none? %>
            <%= link_to "目標新規登録", new_user_setting_goal_path(user_id: params[:id]) %>
          <% else %>
            <%= link_to "目標確認", user_setting_goals_show_path(user_id: params[:id]) %>
          <% end %>
        </li>
        <li>
          <% if @user.strengths.none? %>
            <%= link_to "自己PRを作成する", new_user_strength_path(user_id: params[:id]) %>
          <% else %>
            <%= link_to "自己PRを確認する", user_strengths_show_path(user_id: params[:id]) %>
          <% end %>
        </li>
        <li><%= link_to "募集企業を探す", user_offers_path(user_id: current_user.id) %></li>
        <li><%= link_to "オファーを確認する", user_orders_path(user_id: current_user.id) %></li>
        <li><%= link_to "選考通過一覧", user_pass_offer_applications_path(user_id: current_user.id) %></li>
      <% elsif current_requester.present? %>
        <li><%= link_to "問題解決一覧", user_problem_solutions_path(user_id: params[:id]) %></li>
        <li><%= link_to "日々の振り返り一覧", user_reviews_path(user_id: params[:id]) %></li>
        <li><%=link_to "オファーする", requester_new_orders_path(requester_id: current_requester.id,user_id: @user.id) %></li>
      <% else %>
        <li><%= link_to "問題解決一覧", user_problem_solutions_path(user_id: params[:id]) %></li>
        <li><%= link_to "日々の振り返り一覧", user_reviews_path(user_id: params[:id]) %></li>
      <% end %>
    </div>
  </div>

  <div class="col-xs-8">
  	<%# 今日のテーマ、目標 %>
    <% if @user == current_user %>
  	  <table border="0", class="top">
  	    <tr>
  	      <th class="col-xs-6">目標</th>
          <th class="col-xs-6">今日のテーマ</th>
        </tr>
        <tr>
          <% if @setting_goal.nil? %>
            <td>登録がありません</td>
          <% else %>
  	        <td><%= @setting_goal.target %></td>
          <% end %>
          <% if @reviews.nil? %>
            <td>登録がありません</td>
          <% else %>
  	        <td><%= @reviews.theme %></td>
          <% end %>
        </tr>
      </table>

      <%# タスクボックス　%>
      <div class="task">
        <p>今日までのタスク</p>
        <% if @tasks.empty? %>
          <p style="text-align: center">現在未完了タスクはありません</p>
        <% else %>
          <% @tasks.each do |task| %>
            <% if task.progress_status? %> <%# 未完了タスクのみを表示 %>
              <li><%= task.name %></li>
            <% end %>
          <% end %>
        <% end %>
      </div>
    <% else %>
    <% end %>

    <%# グラフボックス%>
    <div>
      <h4><mark>学習記録</mark></h4>
        <canvas id="myBarChart"></canvas>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>

      <script>
        var ctx = document.getElementById("myBarChart");
        var stackedBar = new Chart(ctx, {
        type: 'bar',
        data: {
          labels: gon.dates,
          datasets: [
           {
            label: 'プログラミング',
            data: gon.data_programing,
            backgroundColor: "#66CCFF"
           },{
            label: '動画編集',
            data: gon.data_movie,
            backgroundColor: "#FF6666"
           },{
            label: 'デザイン',
            data: gon.data_design,
            backgroundColor: "#FFFF66"
           },{
            label: 'マーケティング',
            data: gon.data_marketing,
            backgroundColor: "#66FF99"
           },{
            label: 'その他',
            data: gon.data_other,
            backgroundColor: "#FFCCFF"
           }
          ]
        },
        options: {
          scales: {
            xAxes: [{
              stacked: true
            }],
            yAxes: [{
              stacked: true
            }]
          }
        }
        });
      </script>
    </div>

  </div>

  <span id="back">
    <% if @user == current_user %>
      <%= link_to new_user_scholastic_record_path(user_id: params[:id]) do %>
        <i class="fas fa-edit my-record"></i>
      <% end %>
    <% else %>
    <% end %>
  </span>

</div>
