    <table class="table table-bordered">
    	<tr>
    		<th>登録日</th>
    		<th>ユーザー名</th>
    		<th>学年</th>
            <th>電話番号</th>
            <th>メールアドレス</th>
            <th>学習状況</th>
    	</tr>
        <% @users.each do |user| %>
    	<tr>
    		<td><%= user.created_at.strftime('%Y/%m/%d') %></td>
    		<td><%= user.full_name %></td>
    		<td><%= user.grade %></td>
    		<td><%= user.phone_number %></td>
            <td><%= user.email %></td>
            <td><%= user.learning_status %></td>
    	</tr>
        <% end %>
    </table>