<div class="row">
  <div class="col-xs-8 col-xs-offset-2">

  	<div class="task-index">
      <h4><mark>お問い合わせ</mark></h4>
    </div>

    <%= form_for @contact, url: contacts_new_path do |f| %>

      <div class="form-group">
        <%= f.label :email, '返信先メールアドレス' %>
        <%= f.text_field :email, class: 'form-control' %>
      </div>

     <div class="form-group">
       <%= f.label :message, 'お問い合わせ内容' %>
       <%= f.text_area :message, size: '10x10', class: 'form-control' %>
     </div>

      <%= f.submit '送信', class:"btn btn-success center-block", style:"width:250px" %>

    <% end %>

  </div>
</div>