<div class="mypage-title">
  <mark style="font-size: 20px;">マイページ</mark>
</div>

<div class="row">
  <div class="col-xs-7">
    <div>
      <h1 class="main-title">登録情報</h1>
      <%=  link_to "編集する", edit_requester_path(current_requester.id), class:"btn btn-primary" %>
      <%=  link_to "パスワードを変更する", "#", class:"btn btn-primary",style:"margin-left:10px;" %>
    </div>
    <table class="table table-bordered">
      <tr>
        <th>名前</th>
        <td>
          <%= current_requester.name %>
        </td>
      </tr>

      <tr>
        <th>メールアドレス</th>
        <td>
          <%= current_requester.email %>
        </td>
      </tr>

      <tr>
        <th>会社名/個人事業主</th>
        <td>
          <%= current_requester.business_name %>
        </td>
      </tr>

      <tr>
        <th>郵便番号</th>
        <td>
          <%= current_requester.postal_code %>
        </td>
      </tr>

      <tr>
        <th>住所</th>
        <td>
          <%= current_requester.address %>
        </td>
      </tr>

      <tr>
        <th>電話番号</th>
        <td>
          <%= current_requester.phone_number %>
        </td>
      </tr>

      
    </table>
    <div>
      <h1 class="main-title" style="margin-right:26px;">発注履歴確認</h1>
      <%=  link_to "一覧を見る", requester_index_orders_path(current_requester.id), class:"btn btn-primary"%>
    </div>

    <div>
      <h1 class="main-title">発注中の仕事</h1>
    </div>
    <table class="table table-bordered">
    	<tr>
    		<th>発注相手</th>
    		<th>依頼内容</th>
    		<th>依頼詳細</th>
    		<th>依頼額</th>
    		<th>進捗ステータス</th>
        <th></th>
        <th></th>
    	</tr>
      <% @orders.each do |order| %>
    	<tr>
    		<td><%= order.user.full_name %></td>
    		<td><%= order.request_content %></td>
    		<td><%= order.request_detail %></td>
    		<td><%= order.cost %></td>
    		<td><%= order.progress_status %></td>
        <td>
          <% if @room.present? %>
            <%=  link_to "DM", requester_show_rooms_path(requester_id: current_requester.id,id: @room.id), class:"btn btn-primary"%>
          <% else %>
            <%=  form_for @newroom, url: requester_create_rooms_path do |f| %>
              <%= fields_for @user do |u| %>
                <%= u.hidden_field :user_id, :value=> order.user.id %>
              <% end %>
              <%= f.submit "DM",class: 'btn btn-primary', style:"margin-right:130px" %>
            <% end %>
          <% end %>
        </td>
        <td>
          <%=  link_to "完了", requester_complete_orders_path(requester_id: current_requester.id,id: order.id), method: :patch, class:"btn btn-success"%>
          <%=  link_to "破断", requester_delete_orders_path(requester_id: current_requester.id,id: order.id), method: :patch, class:"btn btn-danger"%>
        </td>
    	</tr>
      <% end %>
    </table>
  </div>
</div>
