<div class="mypage-title">
  <h4><mark>マイページ</mark></h4>
</div>

   <div class="row">
    <div class="col-xs-4">
      <div class="e-link">
        <%=  link_to "編集する", edit_company_path(current_company.id), class:"btn btn-success" %>
      </div>
      <table class="table table-bordered">
        <tr>
          <th>名前</th>
          <td>
            <%= current_company.name %>
          </td>
        </tr>

        <tr>
          <th>メールアドレス</th>
          <td>
            <%= current_company.email %>
          </td>
        </tr>

        <tr>
          <th>郵便番号</th>
          <td>
            <%= current_company.postal_code %>
          </td>
        </tr>

        <tr>
          <th>住所</th>
          <td>
            <%= current_company.address %>
          </td>
        </tr>

        <tr>
          <th>電話番号</th>
          <td>
            <%= current_company.phone_number %>
          </td>
        </tr>
      </table>
    </div>

    <div class="col-xs-8">
      <div class="m-title">
        <h4><mark>求人登録</mark></h4>
      </div>
      <% if @offers.none? %>
        <%=  link_to "求人新規登録", company_new_offers_path(current_company.id), class:"btn btn-success"%>
      <% else %>
        <%=  link_to "登録求人確認", company_offers_path(current_company.id), class:"btn btn-success"%>
      <% end %>

      <div class="mypage-title">
        <h4><mark>募集中求人一覧</mark></h4>
      </div>

      <% if @offers.empty? %>
      <% elsif @active_offers.empty? %>
        <p>現在募集中の求人はありません</p>
      <% else %>
        <table class="table table-bordered">
    	    <tr>
    		    <th>作成日</th>
    		    <th>仕事内容</th>
    		    <th>募集要件</th>
    		    <th>募集ステータス</th>
    		    <th>応募者一覧</th>
            <th>募集締め切り</th>
    	    </tr>
          <% @active_offers.each do |offer| %>
    	      <tr>
    		      <td><%= offer.created_at.strftime('%Y/%m/%d') %></td>
    		      <td><%= offer.job_description %></td>
    		      <td><%= offer.application_condition %></td>
    		      <td>募集中</td>
    		      <td>
                <%= link_to "確認する", company_offer_applications_path(company_id: current_company.id,offer_id: offer.id), class:"btn btn-success"%>
              </td>
              <td>
                <%= link_to "募集終了", company_delete_offers_path(company_id: current_company.id,id: offer.id), method: :patch, class:"btn btn-danger"%>
              </td>
    	      </tr>
          <% end %>
        </table>
      <% end %>

    </div>
  </div>
