

  <div class="row">
    <div class="col-xs-2"></div>
    <div class="col-xs-8">
      <div class="sign_up">
        <mark>新規会員登録</mark>
      </div>

      

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <table border="0">
        <tr style="height:70px">
            <th>会社名</th>
            <td>
              <% f.label :name %>
              <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "form-control" %>
            </td>
        </tr>

        <tr style="height:70px">
            <th>郵便番号</th>
            <td>
              <% f.label :postal_code %>
              <%= f.text_field :postal_code, autofocus: true, autocomplete: "postal_code", class: "form-control" %>
            </td>
        </tr>

        <tr style="height:70px">
            <th>会社住所</th>
            <td>
              <% f.label :address %>
              <%= f.text_field :address, autofocus: true, autocomplete: "address", class: "form-control" %>
            </td>
        </tr>

        <tr style="height:70px">
            <th>メールアドレス</th>
            <td>
              <% f.label :email %>
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
            </td>
        </tr>

        <tr style="height:70px">
            <th>電話番号(ハイフンなし)</th>
            <td>
              <% f.label :phone_number %>
              <%= f.text_field :phone_number, autofocus: true, autocomplete: "phone_number", class: "form-control" %>
            </td>
        </tr>

        <tr style="height:70px">
            <th>パスワード</th>
            <td>
              <% f.label :password %>
              <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
            </td>
        </tr>

        <tr style="height:70px">
            <th>パスワード確認</th>
            <td>
              <% f.label :password_confirmation %>
              <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
            </td>
        </tr>

      </table>
      <div class="actions">
        <%= f.submit "新規登録", class:"btn btn-success center-block", style:"width:150px" %>
      </div>
      
      <% end %>
      

      <div class="sign_in_page">
        <mark>既に登録済みの方</mark>
        <p><%= render "users/shared/links" %>からログインしてください</p>
      </div>
    </div>
  </div>