<div class="row">
  <div class="col-xs-8 col-xs-offset-4">
    <div class="sign_up">
      <h4><mark>新規振り返り</mark></h4>
    </div>

    <%= form_for @review, url: new_user_review_path do |f| %>
    <%= render "layouts/error_message", title: @review %>
      
      <table border="0">
        <tr style="height:70px">
          <th style="width:150px">今日のテーマ</th>
          <td>
            <% if @reviews.nil? %>
            　<p>登録がありません</p>
            <% else %>
              <%= @reviews.theme %>
            <% end %> 
          </td>
        </tr>

        <tr style="height:70px">
          <th>できたこと</th>
          <td>
            <% f.label :completion %>
            <%= f.text_area :completion, autofocus: true, autocomplete: "completion", class: "form-control" %>
          </td>
        </tr>

        <tr style="height:70px">
          <th>できなかったこと</th>
          <td>
            <% f.label :halfway %>
            <%= f.text_area :halfway, autofocus: true, autocomplete: "halfway", class: "form-control" %>
          </td>
        </tr>

        <tr style="height:70px">
          <th>明日のテーマ</th>
          <td>
            <% f.label :theme %>
            <%= f.text_field :theme, autofocus: true, autocomplete: "theme", class: "form-control" %>
          </td>
        </tr>
      </table>

      <div class="actions">
        <%= f.submit "登録", class:"btn btn-success center-block", style:"width:150px" %>
      </div>
      
    <% end %>
      
  </div>
</div>